*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Playfair Display', serif;
  background-color: #f9fafa;
}

:root {
  --main-color: #d4af37;
  --secundary-color: #a12332;
}

h2{ 
  font-size: 3em;
  }
h3 {
   font-size: 3.5em;
}
h4 { 
  font-family: 'Crimson Text', cursive;
  font-size: 1.25em;
  color: var(--main-color);
}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 0.85em;}
hr{
  border: dashed;
  border-width: 1px;
  border-color: rgba(0,0,0,0.2);
}

header {
  background: rgba(255, 255, 255, .75);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
  backdrop-filter: blur(10px);
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
  padding: 15px 0px 10px 0;
  transition: 1s;
}

header:hover {
  background: rgba(255, 255, 255, 1);
  transition: .5s;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

header img {
  object-fit: cover;
}

header .encabezado {
  font-family: 'Crimson Text';
  font-style: italic;
  font-size: 1.3em;
}

.encabezado i {
  padding-right: 10px;
  font-size: 1.75em;
}

header a {
  margin: 0px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #3c3f40;
  font-size: 0.8em;
  transition: .3s;
}

header a:hover {
  color: var(--secundary-color);
}

nav {
  color: #3c3f40;
}

nav .container {
  width: auto;
  display: flex;
  justify-content: center;
}

nav .active {
  color: var(--secundary-color);
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #3c3f40;
  font-size: 1em;
  transition: .3s;
}

nav a:hover {
  color: var(--secundary-color);
}

nav hr {
  border-color: #3c3f40;
  margin: 10px 15px;
}

nav .search {
  font-size: 1.35em;
  margin-left: 25px;
}

.button-main {
  position: relative;
  font-size: 0.6em;
  background-color: rgba(255, 255, 255, 1);
  border: solid 2px black;
  color: black;
  font-weight: bold;
  padding: 12px 10px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  transition: .25s;
}

.button-main:hover {
  color: white;
  transition: .2s;
  border: solid 2px;
  border-color: var(--main-color);
  z-index: 1;
}

.button-main::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #d4af37;
  transition: .25s ease-out;
}

.button-main:hover::before {
  left: 0;
  width: 100%;
  z-index: -1;
}










#vinos-destacados{
  background: linear-gradient(135deg,#e6f4ff,#e8f5ff 64%,#f6e7ff);
}

#vinos-destacados .container{
  padding: 50px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#vinos-destacados .destacados{
  padding: 50px 0px;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(5, 1fr);
}

.fotos-destacados {
  position: relative;
  width: 850px;
  height: 600px;
}

#vinos-destacados .carta{
  background: linear-gradient(45deg, white, rgba(153, 153, 153, 0.5));
  border: 1px solid var(--main-color);
  height: 40vh;
  width: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carta  {
  position:relative;
  display: flex;
  flex-direction: column;
}

.carta .capa {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  transition: .5s;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 30px;
  border: 1px solid var(--main-color);
}

.carta img{
  width: 250px;
  height: 280px;
  object-fit: cover;
  transform: scale(0.85);
  transition: .5s;
}

.carta button {
  width: 50%;
}

.carta:hover > .capa {
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 30px;
}

.carta:hover > .capa button{
  width: 50%;
}

.carta:hover > img{
  transition: .5s;
  transform: scale(0.9);
  background-size: cover;
}

.color-precio {
  font-family:'Lato', sans-serif;
  font-size: 0.85em;
  color: #212121;
}

















#final {
  background: linear-gradient(279.85deg, #fcf9eb, #f6e7d7 99.48%);
}

#final .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#final .logo {
  padding: 65px 0;
}

#final .lista-final {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  gap: 100px;
}

#final ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#final li {
  padding: 10px 0;
}

#final .lista {
  color: #3c3f40;
  font-size: 1em;
  font-weight: bolder;
  text-transform: uppercase;
}

#final a {
  position: relative;
  text-decoration: none;
  font-size: 1.1em;
  color: #3c3f40;
  font-weight: 600;
}

#final a:hover {
  color: #000;
}

#final a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #ff7a00, #ff0f00);
  transition: .25s ease-out;
}

#final a:hover::after {
  left: 0;
  width: 100%;
}

#redes {
  background: linear-gradient(279.85deg, #fcf9eb, #f6e7d7 99.48%);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 40px 466px;
}

#redes a {
  font-size: 1.25em;
  margin: 8px;
  color: #3c3f40;
}

#redes a:hover {
  transform: scale(1.2);
}

#link-wsp {
  background: linear-gradient(279.85deg, #fcf9eb, #f6e7d7 99.48%);
}

#link-wsp .container {
  padding-bottom: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button-footer {
  width: 90%;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#link-wsp a {
  color: #3c3f40;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 400;
  padding: 0px 18px;
}

#link-wsp button {
  background-color: #621f1f1f;
  border-color: #3c3f40;
  transition: .5s;
}

#link-wsp button:hover {
  background: rgba(255, 255, 255, .3);
  transition: .5s;
}

.button-wsp {
  font-family: 'Lato', sans-serif;
  padding: 5px 0;
  font-size: .65em;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-wsp .uil-whatsapp {
  font-size: 1.5em;
  margin-right: 8px;
}

.button-to-top {
  font-size: 1em;
}

#link-wsp .derechos {
  text-align: center;
  padding-top: 20px;
  color: #3c3f40;
  padding-bottom: 20px;
}